@charset "UTF-8";

*{text-decoration: none;}
html,body {width: 100%; height: 100%; color: #fff;}
#wrap {width: 100%; height: auto; min-height: 100%; background-color: #000;}

#headBox {
  width: 1170px; height: 80px;
  margin: auto;
}

.head_inner {
  display: flex;
  padding: 0 15px;
  margin: auto;
}
.head_inner h1 {
  width: 100%;
  height: 80px;
}
.logo {
  line-height: 80px;
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
}
.unb {
  width: 908px; height: 80px;
  line-height: 80px;
  display: flex;
}
.premium_part {
  width: auto; height: auto;
}
.premium_part:hover {
  color: #1ed760;
}
.premium_part a {
  padding: 28px 17px;
  font-size: 16px;
  font-weight: 500;
}
.support_part {
  width: auto; height: auto;
}
.support_part:hover {
  color: #1ed760;
}
.support_part a {
  padding: 28px 17px;
  font-size: 16px;
  font-weight: 500;
}
.downlond_part {
  width: auto; height: auto;
}
.downlond_part:hover {
  color: #1ed760;
}
.downlond_part a {
  padding: 28px 17px;
  font-size: 16px;
  font-weight: 500;
}
.separator {
  height: 16px;
  width: 1px;
  background: currentColor;
  margin: auto 17px;
}
.join_part {
  width: auto; height: auto;
}
.join_part:hover {
  color: #1ed760;
}
.join_part a {
  padding: 28px 17px;
  font-size: 16px;
  font-weight: 500;
}
.login_part {
  width: auto; height: auto;
}
.login_part:hover {
  color: #1ed760;
}
.login_part a {
  padding: 28px 17px;
  font-size: 16px;
  font-weight: 500;
}

/* #viewport */
#viewport {
  background-color: rgb(255, 205, 210);
  color: #000;
}
.viewport_inner {
  width: 1170px;
  margin: auto;
  padding: 72px 15px;
  text-align: inherit;
}
.viewpot_one {
  width: auto;
}
.viewpot_one h1 {
  line-height: 1.2;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}
.viewpot_two {
  margin: auto;
  margin-top: 30px;
}
.viewpot_two h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.viewpot_three {
  width: 26%;
  height: 60px;
  margin: auto;
  margin-top: 35px;
  display: flex;
}
.viewpot_three button {
  width: 155px; height: 100%;
  display: flex;
}
.viewpot_three button img {
  width: 100%; height: 100%;
}
.app_store {
  padding: 10px;
}
.viewpot_fore {
  width: 100%;
  margin-top: 40px;
  display: inline-block;
}
.viewpot_fore h3 {
  width: 630px;
  margin: auto;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  letter-spacing: 0.25px;
}
.viewpot_fore a {
  font-size: 12px;
  text-decoration: underline;
}

#footBox {
  width: 100%;
  padding: 80px 0 50px 0;
}
.fnb {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.foot_logo {
  width: 195px; height: 100%;
  padding: 0 15px;
}
.companyinfo {
  width: 50%;
  display: flex;
}
.company_part {
  width: 195px;
  margin: 0;
  padding: 0 15px;
}
.companyinfo dt {
  margin: 20px 0;
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: .08em;
  text-transform: uppercase;
}
.companyinfo dd {
  margin: 0;
  padding: 3px 0 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}
.companyinfo dd:hover {
  color: #1ed760;
}
.community_part {
  width: 195px;
  margin: 0;
  padding: 0 15px;
}
.link_part {
  width: 195px;
  margin: 0;
  padding: 0 15px;
}
.sns {
  margin: 0 15px 0 auto;
  display: flex;
}
.instagram {
  margin-right: 15px;
}
.instagram a {
  width: 54px; height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222326;
  border-radius: 50%;
}
.instagram span {
  display: block;
  background: no-repeat url(../../img/instagram.svg) currentColor;
  width: 24px;
  height: 24px;
}
.instagram span:hover {
  background-color: #1ed760;
}
.twitter {
  margin-right: 15px;
}
.twitter a {
  width: 54px; height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222326;
  border-radius: 50%;
}
.twitter span {
  display: block;
  background: no-repeat url(../../img/twitter.svg) currentColor;
  width: 24px;
  height: 24px;
}
.twitter span:hover {
  background-color: #1ed760;
}
.facebook {
  margin-right: 15px;
}
.facebook a {
  width: 54px; height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222326;
  border-radius: 50%;
}
.facebook span {
  display: block;
  background: no-repeat url(../../img/facebook.svg) currentColor;
  width: 24px;
  height: 24px;
}
.facebook span:hover {
  background-color: #1ed760;
}
.language_part {
  width: 100%; height: 40px;
  margin: 0 15px;
  line-height: 40px;
  display: flex;
  justify-content: flex-end;
}
.language_part a {
  font-size: 12px;
  color: #919496;
}
.language_part a:hover {
  color: #1ed760;
}
.bottom_link {
  width: 100%;
  display: flex;
  color: #919496;
}
.bottom_left {
  width: 400px;
  padding: 0 0 0 15px;
  margin: 0 45px 0 0;
  font-size: 12px;
  display: flex;
}
.bottom_left:hover {
  color: #1ed760;
}
.bottom_left a:not(:last-child) {
  margin-right: 24px;
}
.bottom_right {
  width: 100%;
  font-size: 12px;
  text-align: right;
}
.bottom_right span {
  margin: 0 15px 0 auto;
}
