@charset "UTF-8";
/* 01_cupang_clone.css */

html,body { width: 100%; height: 100%; }
#wrap { width: 100%; height: auto; min-height: 100%; }

#headBox {
  width: 240px; height: auto;
  line-height: 94px;
  margin: auto;
  padding: 47px 30px 0; margin-bottom: 14px;
}

.logo {
  width: 180px;
  height: 47px;
  margin: auto;
  font-size: 40px;
  text-align: center;
  color: #D61C01;
}

#loginBox {
  width: 520px;
  height: auto; min-height: 220px;
  margin: auto;
  padding: 0 30px;
}
.login_inner {
  width: 100%; height: auto;
}
.privite {
  width: 100%; height: auto;
}
.privite ul {
  width: 100%; height: auto;
}
.privite ul li {
  position: relative;
  width: 100%; height: 50px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
}

.privite li label {
  width: 50px; height: 48px;
  float: left;
  border: 0;
  border-right: 1px solid #ccc;
  color: #575757;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #ddd;
}
.privite li input {
  width: calc(100% - 120px); height: 100%;
  padding: 12px 8px;
  float: left;
}
.privite li button {
  width: 50px; height: 50px;
  float: left;
  font-size: 20px;
  color: #575757;
}

.disable i.fa-eye-slash {display: none;}
.enable i.fa-eye {display: none;}

.check {
  width: 100%; height: auto;
  padding-top: 5px;
}
.check label {
  float: left;
  cursor: pointer;
  font-size: 16px;
}
.check label i {
  width: 20px; height: 20px;
  margin-right: 10px; margin-top: 7px;
  float: left;
  border: 1px solid #777;
}

#autoLogin:checked + label i {
  position: relative;
  background: url(../../img/check.svg) 50% no-repeat;
}
#autoLogin + label i {
  position: relative;
  overflow: hidden;
}
#autoLogin + label i::before {
  width: 100%; height: 100%;
  top: 110%; left: 0;
  position: absolute;
  content: "";
  display: block;
}
#autoLogin:checked + label i::before {
  top: 0;
}

.check a {
  font-size: 16px;
  float: right;
  color: #0074e9;
}
.check a i {
font-weight: 700;
}
.check a span {
  font-size: 18px;
}

.login_btn {
  width: 100%; height: 54px;
  margin-top: 20px;
}
.btn , .btn button {
  width: 100%; height: 100%;
}
.btn button {
  background-color: #0074e9;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  /* word-spacing: 100px; */
}

#joinBox {
  width: 520px; height: auto;
  margin: auto;
  margin-top: 18px;
  padding: 0 30px;
  border-top: 1px solid #777;
}
.link {
  width: 100%; height: 54px;
  padding-top: 18px;
  line-height: 54px;
  box-sizing: content-box;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #0074e9;
}
.link a {
  width: 100%; height: 100%;
  display: block;
  color: inherit;
  border: 1px solid #777;
  border-radius: 5px;
  border-bottom-width: 2px;
  background-color: #fff;
}

#footBox {
  width: 520px; height: auto;
  margin: auto;
  margin-top: 10px;
  padding: 0 30px;
  text-align: center;
}
#footBox p {
  font-size: 13px;
  color: #555;
}
